* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.header {
  position: fix;
  top: 0;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 24px;
}

.content {
  text-align: center;
}

.form_login {
  border: 1px solid #9d9d9d;
  border-radius: 10px;
  height: 150px;
  width: 30%;
  text-align: center;
  margin: 12% auto;
}

.login-header {
  background-color: #cdcdcd;
  height: 30px;
  line-height: 30px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom: 1px solid #777;
  font-size: 18px;
}

.login-content {
  margin-top: 30px;
  padding-left: auto;
  padding-right: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-input {
  height: 28px;
  width: 80%;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  border: 1.5px solid #c1c1c1;
  text-align: center;
  font-size: 18px;
}

.login-btn {
  width: 100px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.welcome {
  margin-top: 15%;
  font-size: 28px;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #c4c4c4;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.selection {
  width: 50px;
  cursor: pointer;
}

.option {
  cursor: pointer;
}